# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Datasets (IMPORTANT)

# Logs


# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Models
*.pth
models/
